{% extends "layout.html" %}

{% block content %}
    <nav class="menu">
        <h3>Choose a list</h3>
        <ul>
            <li><a href="{{ url_for('mentors_list') }}">Mentors</a></li>
            <li><a href="{{ url_for('applicants_list') }}">Applicants</a></li>
        </ul>
    </nav>
<br>
    <section class="search">
        <h3>Search for applicants</h3>
    <div>
        <form action="/applicant-phone">
            <label for="applicant-first-name">Search applicant name:</label>
            <br>
            <input id="name" type="text" name="applicant-first-name">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <form action="/applicants-phone">
            <label for="email-ending">Search by e-mail ending:</label>
            <br>
            <input id="email-ending" type="text" name="email-ending">
            <button type="submit">Search</button>
        </form>
    </div>
    </section>
<br>
    <div id="applicants">
        {% for applicant in applicants %}
            {{ "Name: " + applicant.first_name + " " + applicant.last_name}} , {{ "Phone number: " + applicant.phone_number }}<br>
        {% endfor %}
    </div>

{% endblock %}
